<%= form_for(@example) do |f| %>
  <% if @example.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@example.errors.count, "error") %> prohibited this example from being saved:</h3>

      <ul>
      <% @example.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :decimal_field %><br />
    <%= f.text_field :decimal_field %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
