<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @example.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @example.last_name %>
</p>

<p>
  <b>Decimal field:</b>
  <%= @example.decimal_field %>
</p>


<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
