<%= form_for @member, :validate => true do |f| %>

  <div>
    <%= f.text_field :first_name, :placeholder => "First name" %>
  </div>
  
  <div>
    <%= f.text_field :last_name, :placeholder => "Last name" %>
  </div>
  
  <div>
    <%= f.text_field :phone_number, :placeholder => "Phone number" %>
  </div>
  
  <div>
    <%= f.text_field :email_address, :placeholder => "Email address" %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>